<ul>
 <% @bookings.each do |booking|

 @unconfirmed_bookings.each do |unconfirm_booking|
   if booking.id == unconfirm_booking.space_id
 %>
 <li><%= booking.name %>
   <form action='/bookings/update' method='post'>
     <button name=<%="booking_name"%> type="submit" value='<%= "#{booking.name}" %>'><%="Confirm #{booking.name} booking by"%></button>
     <input type="hidden" name="booking_id" value='<%= "#{booking.id}" %>'>
   </form>
 </li>
 <% end %>
 <% end %>
 <% end %>
</ul>

<form action='/spaces'>
  <input type='submit' value='Return to spaces'>
</form>
